<section class="calculation">
    <div class="container">
        <!-- <h2>Получить расчет стоимости доставки вашего груза </h2> -->
        <form>
            <input type="text">
            <input type="url">
            <input type="date">
            <select >
                <option value="Пункт 1"></option>
                <option value="Пункт 2"></option>
                <option value="Пункт 3"></option>
                <option value="Пункт 4"></option>
            </select>
            <textarea ></textarea>
            

            <button type="submit">submit</button>
            <button type="button">button</button>
            <button type="reset">reset</button>
            
        </form>
    </div>
</section>