<section class="swiper swiper-banner" style="--header-height:200px;">

    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(../assets/img/banner-1.png);">
            <div class="container">
                <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                <h5 class="banner-discription">Доставляем любые грузы из Китая по честной цене </h5>
                <a href="#" class="btn btn-primary btn-lg">Оставить заявку <img src="../assets/img/icon-arrow-left.svg"
                        alt="icon-arrow-left"> </a>

            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(../assets/img/banner-2.png);">
            <div class="container">
                <h2 class="banner-title">Выкуп товара с ТаоБао, 1688</h2>
                <h5 class="banner-discription">Выкуп и доставка товаровс китайских торговых площадок. </h5>
                <a href="#" class="btn btn-primary btn-lg">Оставить заявку <img src="../assets/img/icon-arrow-left.svg"
                alt="icon-arrow-left"> </a>

            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(../assets/img/banner-3.png);">
            <div class="container">
                <h2 class="banner-title">Экспресс авто доставка</h1>
                    <!-- <h5 class="banner-discription">Доставляем любые грузы из Китая по честной цене </h5> -->
                    <a href="#" class="btn btn-primary btn-lg">Оставить заявку <img
                            src="../assets/img/icon-arrow-left.svg" alt="icon-arrow-left"> </a>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(../assets/img/banner-4.png);">
            <div class="container">
                <h2 class="banner-title">Аренда склада</h1>
                    <h5 class="banner-discription">Выкуп и доставка товаровс китайских торговых площадок. </h5>
                    <a href="#" class="btn btn-primary btn-lg">Оставить заявку <img
                            src="../assets/img/icon-arrow-left.svg" alt="icon-arrow-left"> </a>
            </div>
        </div>
        ...
    </div>
    <div class="swiper-banner-arrow">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

<div class="swiper-pagination"></div>
</section>
<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque reiciendis doloremque aliquam id obcaecati
        nostrum voluptatum est tempore alias error eius beatae, vitae architecto quae. Mollitia optio fugiat sapiente
        ab, expedita error officiis numquam blanditiis, pariatur perferendis quo assumenda inventore quibusdam porro
        quia sint excepturi ducimus. Mollitia, veritatis temporibus dignissimos cumque asperiores quisquam ratione
        consectetur sequi blanditiis numquam possimus expedita, soluta repudiandae corrupti dolores pariatur assumenda
        ullam quia praesentium! Doloremque quasi eius quam soluta officia, eveniet rerum sed quo necessitatibus
        voluptas. Voluptates, vel excepturi minus doloremque suscipit earum. Obcaecati dolorum sed tempore maxime
        eligendi quod aperiam impedit totam hic reprehenderit dignissimos officiis pariatur nisi rerum, sapiente esse
        tempora eos ullam magni beatae libero. Maiores corporis illo eius totam. Distinctio alias mollitia dolores ad
        sint labore fugiat vel odio beatae. Reprehenderit fuga praesentium, commodi ea expedita reiciendis magni
        provident omnis consequuntur consequatur iure dolore, ut quae impedit minima iste fugit ipsum non soluta
        quisquam corrupti fugiat voluptate ex. At, natus amet corporis dolorem cupiditate, consectetur aspernatur qui
        vero ad facere voluptatem officiis placeat perspiciatis velit, ratione eaque nihil incidunt ducimus voluptatum
        alias? Animi ab placeat eligendi ad nulla quis, odit omnis. Similique eum expedita deleniti molestias provident
        neque cum perspiciatis sit?

    </p>
</div>